<header id="header">
    
    {{ include("MayaBundle::menu.html.twig") }}
    <div id="contenidoSitio">
        {{ include("MayaBundle::carousel.html.twig") }}
        {{ include("MayaBundle::contentHome.html.twig") }}
    </div>
    

</header>

